body{
    margin:0;
    font-family: Arial, sans-serif;
    background:#121212;
    color:white;
}

.title{
    text-align:center;
    margin-top:30px;
    font-size:32px;
}
.more{
    text-align:center;
    margin-bottom:40px;
}

.more a{
    background:#ff3c3c;
    color:white;
    padding:12px 25px;
    text-decoration:none;
    border-radius:25px;
    font-size:18px;
    transition:0.3s;
}

.more a:hover{
    background:#ff0000;
}
.music-container{
    display:flex;
    justify-content:center;
    gap:30px;
    flex-wrap:wrap;
    padding:40px;
}

.song-card{
    background:#1e1e1e;
    padding:20px;
    border-radius:12px;
    width:250px;
    text-align:center;
    box-shadow:0 4px 10px rgba(0,0,0,0.5);
    transition:transform 0.3s;
}

.song-card:hover{
    transform:scale(1.05);
}

.song-card img{
    width:100%;
    border-radius:10px;
}

.song-card h3{
    margin:10px 0 5px;
}

.song-card p{
    color:#bbb;
}

audio{
    width:100%;
    margin-top:10px;
}